body {
	background-color: #c7b4b4;
	font-family: Pangram;
	color: #fff;
	font-size: 1.75em;
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
}

.img-hover {
	position: relative;
	float: left;
}

.text-content {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 0;
	width: 100%
	color: #fff;
	visibility: hidden;
	opacity: 0;
}

#canon-logo {
	border: 7px solid;
	border-color: #ffffff;
}

.img-hover:hover {
	opacity: 0.75;
}

.footer {
	border-top: 1px solid;
	bottom: 0;
}

.no-padding:hover .text-content {
	visibility: visible;
	opacity: 1;
}

.description-header {
	padding: 10px;
	font-weight: bold;
}

.text-description {
	padding: 10px;
}

.content {
	margin-left: 5px;
	margin-right: 5px;
}

@media only screen and (min-width: 768px) {
	.content {
		padding-left: 400px;
		padding-right: 400px;
	}
}

@font-face {
	font-family: Pangram;
	src: url('fonts/Pangram-Light.otf') format('opentype');
}
